
divmenu {
    background-color: azure;
    opacity: 0.5;
    width: 100%;
    height: 10%;
}

li {
    list-style: none;
    float: left;
    margin-left: 2%;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration:none;
}
.divmenu {
    width: 100%;
    height: 10%;
    background-color: cadetblue;
    opacity: 0.9;
    position: fixed;
}

.caixamenu {
    padding: 1.5%;
    height: 2%;
    width: 4%;
    float: left;
    margin-top: 0;
}

    .caixamenu:hover {
        padding: 1.5%;
        background-color: skyblue;
        height: 2%;
        width: 4%;
        float: left;
        margin-top: 0;
    }




.div3 {
    position:absolute;
    height:30%;
    width:27%;
    background-color:deeppink;
    color:midnightblue;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 5%;
    top: 240px;
    left: 33px;
}
.div3:hover {
    position: absolute;
    height: 33%;
    width: 30%;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 5%;
    top: 240px;
    left: 33px;
}

.div2 {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: deeppink;
    margin-top:60%;
}

	.icones{
		position:absolute;
		height:60%;
        width:60%;
        margin-left:10%;
        margin-top:10%;
	}

    a.link{
        display:block;
        height:100%;
        width:100%;
        text-decoration:none;
        font-size:20px;
    }




.header-site {
    height: 200px;
    width: 100%;
    background-image: url(../img/dentro2.png);
    background-position: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-site2 {
    height: 100%;
    width: 100%;
    background-image: url(../img/viaquatro22.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background-color:red;
    opacity:0.10;
    height:60%;
    width:60%;
}